.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

h2 {
    font-family: "Silkscreen";
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: initial;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    filter: drop-shadow(8px 8px #000000);
}

#size-text {
    font-family: "Silkscreen";
    text-align: center;
}

#slider {
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: black; /* Grey background */
    margin: 10px;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; /* Green background */
    border: 2px solid black;
    transition: all 0.1s ease-out;
}

#slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

button {
    height: 50px;
    width: 70px;
    margin: 20px;
    background-color: white;
    border: 2px solid black;
    filter: drop-shadow(8px 8px #000000);
    font-family: "Silkscreen";
    transition: all 0.1s ease-out;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: black;
    color: white;
  /* box-shadow: 0 5px #666; */
    /* transform: translateY(4px); */
}

.rainbow {
    background-image: linear-gradient(to right, rgb(255, 78, 205), rgb(237, 217, 113), rgb(106, 220, 255));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#grid-container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    border: 2px solid black;
    flex: none;
    filter: drop-shadow(12px 12px #000000);
}

.square {
    height: 37px;
    width: 37px;
    background-color: white;
    /* border: 1px solid black; */
}